<body>
 <h1>Editing Book</h1>
  <% if @book.errors.any? %>
  　<%= @book.errors.count %>error prohibited this book from being saved:
  　<% @book.errors.full_messages.each do |message| %>
    　<%= message %>
  　<% end %>
　<% end %>
  <%= form_with model:@book, local:true do |f| %>
    <div class="field">
     <h4 class="field1">title</h4>
     <%= f.text_field :title %>
    </div>
    <div class="field">
     <h4 class="field1">Body</h4>
     <%= f.text_area :body %>
    </div>
    <div class="field"><%= f.submit 'Update Book' %></div>
  <% end %>
  <ul class="main2">
   <li><%= link_to "show", book_path(@book.id) %></li>
   <li>|</li>
   <li><a href="/books">Back</a></li>
  </ul>
</body>